<main class="flex bg-[#1A120B] h-screen">
  <%= render 'shared/side_bar' %>

  <section class="flex flex-col w-full">
    <%= render 'dashboard/components/title' %>
    <%= line_chart Sell.last_sells %>
  </section>

</main>
