<section class="flex flex-col items-center my-20">
  <div class="flex flex-col items-center">
    <h1 class="font-bold text-4xl text-white my-5">The Bookstore Dashboard App - Ruby on Rails 7.</h1>
    <p class="text-sm text-white">This is the Dashboard App built using Ruby on Rails 7 and Hotwire</p>
    <p class="text-sm text-white">The purpose of this app is to have a track of each book sold and display the latest sells, as well as the quantity and money earned.</p>
  </div>
</section>
